@import 'variables'

#sweetCalendar

  .container
    display: grid
    grid-template-rows: 40px 1fr

    .header
      display: grid
      grid-template-columns: 100px 1fr 100px

      .left-arrow
        span
          cursor: pointer

      .right-arrow
        span
          cursor: pointer

    .body
      align-items: center
      display: grid
      grid-row-gap: 8px
      grid-template-columns: repeat(7, 1fr)
      grid-template-rows: repeat(7, 1fr)
      justify-items: center

      .day-name
        color: $week-day-name-color
        font-weight: bold

      .day-container
        display: grid
        grid-auto-columns: 1fr 1fr
        grid-auto-flow: column
        position: relative
        width: 100%

        .before
          height: 28px

        .after
          height: 28px

        .day
          align-content: center
          background-color: $light-color
          border-radius: 50%
          box-sizing: content-box
          color: $day-color
          display: grid
          height: 8px
          justify-content: center
          left: 50%
          padding: 10px
          position: absolute
          top: 50%
          transform: translate(-50%, -50%)
          width: 8px

          &.today
            border: 2px solid $today-color
            color: $today-color

          &.off-day
            background-color: $off-day-background-color
            font-weight: bold

          span
            font-size: 14px
            margin: 0
            padding: 0
            width: fit-content
