@import 'variables'

#calendar

  .container
    display: grid
    grid-template-rows: 40px 1fr
    height: 500px

    .header
      display: grid
      grid-template-columns: 100px 1fr 100px

      .left-arrow
        span
          cursor: pointer

      .right-arrow
        span
          cursor: pointer

    .body
      align-items: center
      display: grid
      grid-template-columns: repeat(7, 1fr)
      grid-template-rows: repeat(7, 1fr)
      justify-items: center

      .day-container
        position: relative
        display: grid
        grid-auto-columns: 1fr 1fr
        grid-auto-flow: column
        padding: 10px 0
        width: 100%

        .before
          height: 40px

        .after
          height: 40px

        .day
          align-content: center
          background-color: white
          border-radius: 50%
          box-sizing: content-box
          color: black
          display: grid
          height: 25px
          justify-content: center
          left: 50%
          padding: 10px
          position: absolute
          top: 50%
          transform: translate(-50%, -50%)
          width: 25px

          &:hover
            background-color: gray
            cursor: pointer

          &.today
            border: 2px solid #008290
            border-radius: 10%
            color: #008290

          span
            font-size: 15px
            margin: 0
            padding: 0
            width: fit-content

        .day-name
          font-weight: bold